Source: gamewake
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: utils
Priority: optional
Standards-Version: 3.9.6
Build-Depends: lazarus (>=1.6), debhelper (>= 9)

Package: gamewake
Depends: xdg-utils, alsa-utils, ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Homepage: http://www.pm-codeworks.de/gamewake.html
Description: Wecker Anwendung
 Game Wake ist ein virtueller Wecker, den man sich stellen kann, um nicht, z.B.
 während des exzessiven Gamings, die Pizza im Ofen zu vergessen. Aber auch sonst
 eignet sich Game Wake zum Erinnern an alle möglichen Dinge. Es gibt 4
 verschiedene Alarm-Sounds zur Auswahl und eine "Herunterfahren"-Funktion.
 Neben den Audiosignalen kann Game Wake visuell in einer festgelegten Farbe
 blinken und zusätzlich eine textbasierte Erinnerung angezeigen. Game Wake
 verfügt über zwei verschiedene Betriebs-Modi: Timer- und Counter-Modus.
