[Desktop Entry]
Name=Game Wake
GenericName=Alarm clock application
GenericName[de]=Wecker-Anwendung
GenericName[fr]=Application de réveil
Comment=Set alarm for specific time
Comment[de]=Alarm für bestimmte Uhrzeit stellen
Comment[fr]=Alarme réglée pour un certain temps
Exec=gamewake
Icon=gamewake
Terminal=false
Type=Application
Categories=Utility;
Keywords=alarm clock;
