STRINGTABLE // deutsch
BEGIN
  100, "1031"
  101, "Warnung"
  102, "Fehler"
  103, "Frage"
  104, "Information"
  105, "Update"
  106, "abbrechen"
  107, "Abgebrochen!"
  108, "Fertig!"
  109, "Bitte Download-Ordner wählen"
  110, "Ansicht"
  111, "Wollen Sie das Update jetzt installieren?"
  112, "Keine Verbindung zum Update-Server! "
  113, "Bitte überprüfen Sie Ihre Internetverbindung und versuchen Sie es erneut."
  114, "Hilfe"
  115, "Nach Update suchen"
  116, "Zertifikat installieren"
  117, "Über %s"
  118, " nicht möglich!"
  119, "\"%s\" Fehlerbericht"
  120, "Hallo PM Code Works,\x0D\x0A\x0D\x0Aich habe warscheinlich ein Bug gefunden:\x0D\x0A%s %s"
  121, "Update (Build %d) verfügbar!"
  122, "Möchten Sie es jetzt herunterladen?"
  123, "Kein Update verfügbar!"
  124, "Update herunterladen"
  125, "Sprache wählen"
  126, "Fehler melden"
  127, "Das Zertifikat von PM Code Works ist bereits installiert!"
  128, "Das Programm \"certutil.exe\" konnte nicht gefunden werden."
  129, "Zur Website"
  130, "Download wurde abgebrochen!"
  131, "Schwerwiegender Fehler"
  132, "Technische Details"
  133, "Datei"
  134, "Seit kurzem wird %s als 64-Bit Version zum Download angeboten, wodurch "
  135, "Ihr System Ressourcen optimaler nutzen kann. Wollen Sie diese herunterladen?"
  136, "Registry Datei *.reg|*.reg"
  137, "Sicheres Update"
  138, "Seit kurzem werden sichere Updates über eine verschlüsselte Verbindung "
  139, "zum Update-Server angeboten. Dazu wird ein neues Zertifikat benötigt."
  140, "Wollen Sie dieses installieren, um sichere Updates zu empfangen?"
  141, ""
  142, "Einstellungen speichern"
  143, "Bearbeiten"
  144, "Optionen"
  145, "Timer Modus"
  146, "Counter Modus"
  147, "Alarmauswahl"
  148, "Wecker"
  149, "Horn"
  150, "Windows Bing"
  151, "Beep"
  152, "Herunterfahren"
  153, "Bei Alarm"
  154, "blinken"
  155, "Farbe"
  156, "Text anzeigen"
  157, "Beschriftung ändern"
  158, "Alarm"
  159, "aus"
  160, "stop!"
  161, "Speicheroptionen"
  162, "Uhrzeit speichern"
  163, "Text speichern"
  164, "Position speichern"
  165, "Soundauswahl speichern"
  166, "Farbe speichern"
  167, "Allgemein"
  168, "Stunden und Minuten koppeln"
  169, "automatisch nach Updates suchen"
  170, "Achtung: Änderungen erst ab nächstem Start wirksam!"
  171, "Standardwerte"
  172, "Der Alarm wurde für %s gestellt!"
  173, "Alarm um %s Uhr"
  174, "Der Alarm wurde abgebrochen!"
  175, "Texteingabe"
  176, "Bitte geben Sie einen kurzen Text zur Erinnerung ein:"
  177, "Text ist zu lang!"
  178, "Es dürfen nicht mehr als 16 Zeichen enthalten sein!"
  179, "Der Alarm ist noch gestellt!"
  180, "Wollen Sie Game Wake wirklich beenden und den Alarm abbrechen?"
  181, "Ungültige Zeit!"
  182, "Alarm in %s:%s:%s"
  183, "Fehler beim Laden der Farben"
  184, "Einstellungen konnten nicht gespeichert werden!"
  185, "Fehler beim Laden der Einstellungen aus der config Datei: \"%s\"!"
  186, "Fehler beim Schreiben der Einstellungen in die config Datei: \"%s\"!"
  187, "Öffnen"
  188, "Beenden"
  189, "Tray icon konnte nicht erstellt werden!"
END

STRINGTABLE // english
BEGIN
  200, "1033"
  201, "Warning"
  202, "Error"
  203, "Question"
  204, "Information"
  205, "Update"
  206, "abort"
  207, "Canceled!"
  208, "Done!"
  209, "Please select download folder"
  210, "View"
  211, "Do you want to install the update now?"
  212, "Unable to connect to the update server!"
  213, "Please check your internet connection and try again."
  214, "Help"
  215, "Search for Update"
  216, "Install certificate"
  217, "About %s"
  218, " impossible!"
  219, "\"%s\" bug report"
  220, "Hello PM Code Works,\x0D\x0A\x0D\x0AI have probably found a bug:\x0D\x0A%s %s"
  221, "Update (Build %d) available!"
  222, "Do you want to download it now?"
  223, "No update available!"
  224, "Download the update"
  225, "Choose Language"
  226, "Report a bug"
  227, "The certificate of PM Code Works is already installed!"
  228, "The \"certutil.exe\" program could not be found."
  229, "Go to website"
  230, "Download has been canceled!"
  231, "Fatal error"
  232, "Technical details"
  233, "File"
  234, "Recently %s is offered as a 64-bit version to download allowing your "
  235, "system to use resources optimally. Do you want to download this?"
  236, "Registy file *.reg|*.reg"
  237, "Secure update"
  238, "Recently, secure updates are provided via an encrypted connection to the "
  239, "update server. For this purpose, a new certificate is required."
  240, "Do you want to install this to receive secure updates?"
  241, ""
  242, "Save Settings"
  243, "Edit"
  244, "Options"
  245, "Timer Mode"
  246, "Counter Mode"
  247, "Alert selection"
  248, "Alarm Clock"
  249, "Horn"
  250, "Windows Bing"
  251, "Beep"
  252, "Shutdown"
  253, "At Alert"
  254, "Flash"
  255, "Color"
  256, "Show Text"
  257, "Change Text"
  258, "Alert"
  259, "off"
  260, "stop!"
  261, "Save options"
  262, "Save Time"
  263, "Save Text"
  264, "Save Position"
  265, "Save Sound"
  266, "Save Color"
  267, "General"
  268, "Combine hours and minutes"
  269, "Automatically check for updates"
  270, "Remember: Changes are effective until next start!"
  271, "Default values"
  272, "Alert was set at %s!"
  273, "Alert at %s"
  274, "The alert was canceled!"
  275, "Text input"
  276, "Please enter a short text in memory:"
  277, "Text is too long!"
  278, "It must not contain more than 17 characters!"
  279, "The alert is still set!"
  280, "Do you really want to quit Game Wake and cancel the alert?"
  281, "Invalid time!"
  282, "Alarm in %s:%s:%s"
  283, "Error while loading colors!"
  284, "Settings could not be saved!"
  285, "Error while loading settings from config file: \"%s\"!"
  286, "Error while writing settings into config file: \"%s\"!"
  287, "Open"
  288, "Quit"
  289, "Tray icon could not be created!"
END

STRINGTABLE // français
BEGIN
  300, "1036"
  301, "Avertissement"
  302, "Erreur"
  303, "Question"
  304, "Information"
  305, "MAJ"
  306, "abandonner"
  307, "Annulé!"
  308, "Prêt!"
  309, "S'il vous plaît sélectionnez le dossier de téléchargement"
  310, "Vue"
  311, "Voulez-vous installer la mise à jour maintenant?"
  312, "Impossible de se connecter au serveur de mise à jour!"
  313, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
  314, "Aider"
  315, "Chercher mise à jour"
  316, "Installer le certificat"
  317, "à propos de %s"
  318, " impossible!"
  319, "Rapport d'erreur \"%s\""
  320, "Bonjour PM Code Works,\x0D\x0A\x0D\x0Aje l'ai sans doute trouvé un bogue:\x0D\x0A%s %s"
  321, "Mise à jour (Build %d) disponible!"
  322, "Voulez-vous le télécharger maintenant?"
  323, "Il n'ya pas de mise à jour disponible!"
  324, "Télécharger mise à jour"
  325, "Choisir langue"
  326, "Signaler une erreur"
  327, "Le certificat de PM Code Works est déjà installé!"
  328, "Le programme de \"certutil.exe de\" n'a pas pu être trouvé."
  329, "Aller sur le site"
  330, "Télécharger a été annulé!"
  331, "Erreur fatale"
  332, "Détails techniques"
  333, "Fichier"
  334, "Récemment %s est offert en version 64 bits pour télécharger permettre à "
  335, "votre système de fonctionner de manière optimale. Voulez-vous télécharger ce?"
  336, "Fichier enregistrement *.reg|*.reg"
  337, "Mises à jour sécurisée"
  338, "Récemment, mises à jour sécurisées sont fournies via une connexion cryptée sur"
  339, " le serveur de mise à jour. A cet effet, un nouveau certificat est nécessaire."
  340, "Voulez-vous installer ce pour recevoir des mises à jour sécurisées?"
  341, ""
  342, "Enregistrer les paramètres"
  343, "Modifier"
  344, "Options de"
  345, "Minuterie Modus"
  346, "Counter Modus"
  347, "Sélection de l'alarme"
  348, "Réveil"
  349, "Corne"
  350, "Windows Bing"
  351, "Beep"
  352, "Fermeture"
  353, "En alarme"
  354, "Flash"
  355, "Couleur"
  356, "Voir le texte"
  357, "Modifier le texte"
  358, "Alarme"
  359, "fin"
  360, "arrêter!"
  361, "Options de stockage"
  362, "Enregistrer le temps"
  363, "Enregistrer le texte"
  364, "Enregistrer la position"
  365, "Enregistrer la sélection du son"
  366, "Enregistrer la coleur"
  367, "Général"
  368, "Automatiquement chercher le mise à jour"
  369, "Combination de heures et minutes"
  370, "Attention: Les modifications prennent effet jusqu'au début de la prochaine!"
  371, "Par défaut"
  372, "L'alarme a été réglée pour l'horloge à %s !"
  373, "Alarme à %s"
  374, "L'alerte a été annulée!"
  375, "La saisie de texte"
  376, "S'il vous plaît entrer un court texte dans la mémoire:"
  377, "Le texte est trop long!"
  378, "Il ne doit pas contenir plus de 16 caractères!"
  379, "L'alarme est toujours fixé!"
  380, "Voulez-vous vraiment quitter Game Wake et annuler l'alarme?"
  381, "Heure invalide!"
  382, "Alarme en %s:%s:%s"
  383, "Erreur lors du chargement des couleurs!"
  384, "Paramètres ne pouvaient pas être sauvés!"
  385, "Erreur de charger sur les paramètres du fichier de configuration: \"%s\"!"
  386, "Erreur d'écriture sur les paramètres du fichier de configuration: \"%s\"!"
  387, "Ouvert"
  388, "Quitter"
  389, "Icône de la barre ne peut être créé!"
END
