STRINGTABLE
{
//Deutsch
100, "Datei"
101, "Einstellungen speichern"
102, "Bearbeiten"
103, "Optionen"
104, "Timer Modus"
105, "Counter Modus"
106, "Hilfe"
107, "Nach Update suchen"
108, "Zertifikat herunterladen"
109, "Über..."
110, "Alarmauswahl"
111, "Wecker"
112, "Horn"
113, "Windows Bing"
114, "Beep"
115, "Herunterfahren"
116, "Bei Alarm"
117, "blinken"
118, "Farbe"
119, "Text anzeigen"
120, "Beschriftung ändern"
121, "Alarm"
122, "aus"
123, "stop!"
124, "Speicheroptionen"
125, "Uhrzeit speichern"
126, "Text speichern"
127, "Position speichern"
128, "Soundauswahl speichern"
129, "Farbe speichern"
130, "Achtung: Änderungen erst ab nächstem Start wirksam!"
131, "Standardwerte"
132, "Der Alarm wurde für %s gestellt!"
133, "Alarm um %s Uhr"
134, "Der Alarm wurde abgebrochen!"
135, "Texteingabe"
136, "Bitte geben Sie einen kurzen Text zur Erinnerung ein:"
137, "Text ist zu lang!"
138, "Es dürfen nicht mehr als 16 Zeichen enthalten sein!"
139, "Der Alarm ist noch gestellt!"
140, "Wollen Sie Game Wake wirklich beenden und den Alarm abbrechen?"
141, " nicht möglich!"
142, "Grund: "
143, "Information"
144, "Warnung"
145, "Fehler"
146, "Ungültige Zeit!"
147, "Frage"
148, "abbrechen"
149, "Abgebrochen!"
150, "Fertig!"
151, "Quelle nicht gefunden!"
152, "Bitte Ordner wählen:"
153, "Wollen Sie den Download wirklich beenden?"
154, "Wollen Sie das Update jetzt installieren?"
155, "Keine Verbindung zum Update-Server!"
156, "Bitte prüfen Sie ihre Internetverbindung und versuchen Sie es erneut."
157, "Allgemein"
158, "Game Wake Update (Build %d) verfügbar!"
159, "Möchten Sie es jetzt herunterladen?"
160, "Kein Update verfügbar!"
161, "Update herunterladen"
162, "Ansicht"
163, "Sprache wählen"
164, "automatisch nach Updates suchen"
165, "Stunden und Minuten koppeln"
166, "Fehler melden"
167, "Das Zertifikat von PM Code Works ist bereits installiert!"
168, "Wollen Sie es trotzdem herunterladen?"
169, "Alarm in %s:%s:%s"
170, "Zur Website"
171, "Fehler beim Laden der Farben"
172, "Download wurde abgebrochen!"
173, "Einstellungen konnten nicht gespeichert werden!"
174, "Fehler beim Laden der Einstellungen aus der config Datei: \"%s\"!"
175, "Fehler beim Schreiben der Einstellungen in die config Datei: \"%s\"!"
176, "Öffnen"
177, "Beenden"

//Englisch
200, "File"
201, "Save Settings"
202, "Edit"
203, "Options"
204, "Timer Mode"
205, "Counter Mode"
206, "Help"
207, "Search for Update"
208, "Download Certificate"
209, "About..."
210, "Alert selection"
211, "Alarm Clock"
212, "Horn"
213, "Windows Bing"
214, "Beep"
215, "Shutdown"
216, "At Alert"
217, "Flash"
218, "Color"
219, "Show Text"
220, "Change Text"
221, "Alert"
222, "off"
223, "stop!"
224, "Save options"
225, "Save Time"
226, "Save Text"
227, "Save Position"
228, "Save Sound"
229, "Save Color"
230, "Remember: Changes are effective until next start!"
231, "Standard values"
232, "Alert was set at %s!"
233, "Alert at %s"
234, "The alert was canceled!"
235, "Text input"
236, "Please enter a short text in memory:"
237, "Text is too long!"
238, "It must not contain more than 16 characters!"
239, "The alert is still set!"
240, "Do you really want to quit Game Wake and cancel the alert?"
241, " impossible!"
242, "Reason: "
243, "Information"
244, "Warning"
245, "Error"
246, "Invalid time!"
247, "Question"
248, "abort"
249, "Canceled!"
250, "Done!"
251, "Source not found!"
252, "Please select a folder:"
253, "You really want to stop the download?"
254, "Do you want to install the update now?"
255, "Unable to connect to the update server!"
256, "Please check your internet connection and try again."
257, "General"
258, "Game Wake Update (Build %d) available!"
259, "Do you want to download it now?"
260, "No update available!"
261, "Download the update"
262, "View"
263, "Choose Language"
264, "Automatically check for updates"
265, "Combine hours and minutes"
266, "Report a bug"
267, "The certificate of PM Code Works is already installed!"
268, "Do you want to download it anyway?"
269, "Alarm in %s:%s:%s"
270, "Go to website"
271, "Error while loading colors!"
272, "Download has been canceled!"
273, "Settings could not be saved!"
274, "Error while loading settings from config file: \"%s\"!"
275, "Error while writing settings into config file: \"%s\"!"
276, "Open"
277, "Quit"

//Französisch
300, "Ficher"
301, "Enregistrer les paramètres"
302, "Modifier"
303, "Options de"
304, "Minuterie Modus"
305, "Counter Modus"
306, "Aider"
307, "Chercher mise à jour"
308, "Télécharger le Certificat"
309, "à propos de..."
310, "Sélection de l'alarme"
311, "Réveil"
312, "Corne"
313, "Windows Bing"
314, "Beep"
315, "Fermeture"
316, "En alarme"
317, "Flash"
318, "Couleur"
319, "Voir le texte"
320, "Modifier le texte"
321, "Alarme"
322, "fin"
323, "arrêter!"
324, "Options de stockage"
325, "Enregistrer le temps"
326, "Enregistrer le texte"
327, "Enregistrer la position"
328, "Enregistrer la sélection du son"
329, "Enregistrer la coleur"
330, "Attention: Les modifications prennent effet jusqu'au début de la prochaine!"
331, "Par défaut"
332, "L'alarme a été réglée pour l'horloge à %s !"
333, "Alarme à %s"
334, "L'alerte a été annulée!"
335, "La saisie de texte"
336, "S'il vous plaît entrer un court texte dans la mémoire:"
337, "Le texte est trop long!"
338, "Il ne doit pas contenir plus de 16 caractères!"
339, "L'alarme est toujours fixé!"
340, "Voulez-vous vraiment quitter Game Wake et annuler l'alarme?"
341, " impossible!"
342, "Raison: "
343, "Information"
344, "Avertissement"
345, "Erreur"
346, "Heure invalide!"
347, "Question"
348, "abandonner"
349, "Annulé!"
350, "Prêt!"
351, "Source introuvable!"
352, "S'il vous plaît sélectionner un dossier:"
353, "Vous voulez vraiment arrêter le téléchargement?"
354, "Voulez-vous installer la mise à jour maintenant?"
355, "Impossible de se connecter au serveur de mise à jour!"
356, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
357, "Général"
358, "Game Wake mise à jour (Build %d) disponible!"
359, "Voulez-vous le télécharger maintenant?"
360, "Il n'ya pas de mise à jour disponible!"
361, "Télécharger mise à jour"
362, "Voir"
363, "Choisir langue"
364, "Automatiquement chercher le mise à jour"
365, "Combination de heures et minutes"
366, "Signaler une erreur"
367, "Le certificat de PM Codeworks est déjà installé!"
368, "Voulez-vous télécharger de toute façon?"
369, "Alarme en %s:%s:%s"
370, "Aller sur le site"
371, "Erreur lors du chargement des couleurs!"
372, "Télécharger a été annulé!"
373, "Paramètres ne pouvaient pas être sauvés!"
374, "Erreur de charger sur les paramètres du fichier de configuration: \"%s\"!"
375, "Erreur d'écriture sur les paramètres du fichier de configuration: \"%s\"!"
376, "Ouvert"
377, "Quitter"
}